<style>
  .card {
    width: 40rem;
    margin: 0 auto;
    margin-top: 20px;
    border: 1px solid rgba(0, 0, 0, 0.125);
    border-radius: 0.25rem;
    box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
  }

  .card-body {
    display: flex;
    flex-direction: row;
  }

  .card-img {
    flex: 0 0 auto;
    margin-right: 10px;
    max-width: 250px;
  }

  .card-content {
    flex: 1 1 auto;
  }

  .card-title {
    font-size: 1.25rem;
    font-weight: bold;
    margin-bottom: 10px;
  }

  .card-text {
    margin-bottom: 20px;
  }

  .card-link {
    margin-right: 10px;
  }
  

  .btn {
    display: inline-block;
    padding: 8px 12px;
    border-radius: 4px;
    margin-right: 10px;
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    cursor: pointer;
  }

  .btn-primary {
    background-color: #007bff;
    border-color: #007bff;
  }

  .btn-danger {
    background-color: #dc3545;
    border-color: #dc3545;
  }

  .btn-secondary {
    background-color: #6c757d;
    border-color: #6c757d;
  }
</style>

<div class="card">
  <div class="card-body">
    <% if @book.image.present? %>
      <%= image_tag("/images/" + @book.image, class: "card-img") %>
    <% end %>
    <div class="card-content">
      <h5 class="card-title"><%= @book.name %></h5>
      <p class="card-text"><%= @book.description %></p>
      <%= link_to "Edit", edit_book_path(@book), class: "btn btn-primary card-link" %>
      <%= link_to "Destroy", book_path(@book), data: {
        turbo_method: :delete,
        turbo_confirm: "Are you sure?"
      }, class: "btn btn-danger card-link" %>
      <%= link_to "Back", root_path, class: "btn btn-secondary card-link" %>
    </div>
  </div>
</div>
